SUPABASE_PROJECT_ID="zzpvjtpysscoqtuwhmoi"
SUPABASE_PUBLISHABLE_KEY=""
SUPABASE_URL="https://zzpvjtpysscoqtuwhmoi.supabase.co"
SUPABASE_SERVICE_ROLE_KEY=""
VITE_SUPABASE_PROJECT_ID="zzpvjtpysscoqtuwhmoi"
VITE_SUPABASE_PUBLISHABLE_KEY=""
VITE_SUPABASE_URL="https://zzpvjtpysscoqtuwhmoi.supabase.co"
META_APP_SECRET=""
META_WEBHOOK_VERIFY_TOKEN="toyotapavlodar_meta_wh_2026"
